[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
 feature/login

flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
python-dotenv = "*"
psycopg2-binary = "*"
 Development

[dev-packages]

[requires]
python_version = "3.8"
